<footer>
    <p class="text-center text-muted">para aprendizado</p>
    <p>Pagina: <%- typeof pagina != 'undefined' ? pagina: 'Home' %></p>  <!--difine o valor padrão de "p" para home se não passado outro valor--> 
</footer>